* {
    text-align: justify;
}

h1 {
    color: chocolate;
}

h2{
    color: darkcyan;
}

h3 {
    color: goldenrod;
}

strong {
    color: firebrick;
    font-weight: 1000;
}

strong:hover {
    color: white;
    background-color: firebrick;
}

em:hover{
    color: black;
    background-color: yellow;
}